
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#main_container {
  text-align: center;
  width: 100%;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  transition: 0.8s;
}

#main_content {
  width: 80%;
  height: 60%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#main_content p {
  margin-bottom: 40px;
  font-size: 96px;
  letter-spacing: 18px;
  color: #f3f3f3;
  text-shadow: 1px 1px 6px #000;
}

#main_content h3 {
  margin: 0;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  color: #f3f3f3;
  text-shadow: 1px 1px 6px #000;
}

#switch {
  width: 120px;
  height: 30px;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 20px;
  line-height: 30px;
  border-radius: 10px;
  color: #f3f3f3;
  transition: 0.4s;
}

#switch:hover {
  background: rgba(80, 80, 80, 0.3);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: 0.2s;
}

a {
  position: relative;
  top: 90%;
  text-align: center;
  text-decoration: none;
  color: #f3f3f3;
  text-shadow: 1px 1px 6px #000;
  transition: 0.2s;
}

a:hover {
  color: rgba(0, 0, 0, 0.6);
  transition: 0.1s;
}